{% extends "base.html" %}

{% block content %}
<div class="form">
    <h3 class="form-title">Login</h3>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="error">
                    {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
                </div>
            {% endif %}
        {% endwith %}
        <form method="POST" action="/login">
            <div class="input-wrapper">
                <input class="input is-large" type="username" name="username" placeholder="Your Username" autofocus="">
            </div>
            <div class="input-wrapper">
                <input class="input is-large" type="password" name="password" placeholder="Your Password">
            </div>
            <div class="checkbox">
                <input type="checkbox" id="checkbox_1">
                <label for="checkbox_1">Remember me</label>
            </div>
            <button class="button">Login</button>
        </form>
</div>
{% endblock %}